/*:root {*/
/*    --background-color-primary: #ebebeb;*/
/*    --background-color-secondary: #fafafa;*/
/*    --accent-color: #cacaca;*/
/*    --text-primary-color: #222;*/
/*    --element-size: 4rem; !* <- this is the base size of our element *!*/
/*}*/

* {
   box-sizing: border-box;
}

body {
    font-family: "Poppins Light", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

#app {
    width: 32em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.center_align {
    text-align: center;
}

.main_content {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.header_content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-block: 0.7em;
}

.header_content i {
    font-size: 3em;
}

.form_content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.submit_button button {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
}

.additional_options {
    display: flex;
    justify-content: space-between;
}
